name: Run Fuzzy Search Tests

# Trigger: Run this whenever code is pushed to the master branch
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    # 1. Check out your code onto the Linux server
    - uses: actions/checkout@v3

    # 2. Install Node.js
    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '22.x'

    # 3. Run the test script
    - name: Run Unit Tests
      run: node test_fuzzy.js